/* estilo para telas */


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightcoral;
}

header h1 {
    color: white;
    text-align: center;
}

header ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.253);
}

header li {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: brown;
    font-weight: bolder;
}

article {
    width: 600px;
    margin: auto;
    display: block;
}